.contactForm {
  height: 100vh;
}

form {
  text-align: center;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.inputBlock label {
  margin-bottom: 1rem;
}

.contactForm h2 {
  text-align: center;
  margin-top: 10px;
  color: var(--pinkColor);
  text-decoration: underline;
  font-size: xx-large;
}

label {
  color: var(--tealColor);
}
textarea,
input {
  background-color: rgb(132, 132, 132);
  border-radius: 0.5rem;
  padding: 5px;
  width: 50%;
  color: var(--tealColor);
}

#submitbtn {
  color: var(--tealColor);
  cursor: pointer;
}
#submitbtn:hover,
input:hover,
textarea:hover {
  background-color: rgb(104, 103, 103);
}
.contactForm form p {
  color: red;
  font-size: x-large;
}

@media screen and (max-width: 770px) {
  .contactForm {
    margin-bottom: 10%;
  }
}
