.portfolio .portfolioLink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio h2 {
  text-align: center;
  color: var(--pinkColor);
  font-size: 3rem;
  text-decoration: underline;
  margin: 3% 0;
}

.portfolioLink .card {
  background-size: 100% 100%;
  background-position: center;
  border: 3px solid red;
  width: 40%;
  margin-bottom: 5%;
  height: 200px;
  max-width: 600px;
}

.portfolioLink .content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  background-color: rgb(225, 220, 220, 0);
  padding-top: 5%;
  transition: all 0.25s ease;
}

.portfolioLink .contentElement img {
  max-width: 40%;
}

.portfolioLink .contentElement a img {
  width: 40%;
}

.contentElement {
  flex-basis: 50%;
}

.footer a {
  display: flex;
  justify-content: center;
}

.portfolioLink .card .contentElement h3 {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  width: 35%;
  margin: auto;
}

.portfolioLink .card .content a {
  text-decoration: none;
}

@media screen and (min-width: 770px) {
  .portfolioLink .card:hover .content {
    visibility: visible;
    background-color: rgb(225, 220, 220, 0.8);
    border: 4px solid black;
  }

  .portfolioLink .card:hover .contentElement {
    opacity: 1;
    cursor: default;
    text-decoration: none;
  }

  .portfolioLink .card .contentElement img:hover,
  .portfolioLink .card .contentElement h3:hover {
    cursor: pointer;
  }

  .portfolioLink .card .contentElement img:hover {
    opacity: 0.75;
  }

  .portfolioLink .card .contentElement h3:hover {
    color: red;
  }
}
@media screen and (max-width: 770px) {
  .portfolioLink {
    margin: 2rem 0;
  }
  .portfolioLink .content {
    visibility: visible;
    background-color: rgb(225, 220, 220, 0.7);
  }
  .portfolioLink .content h3 {
    background-color: white;
    width: 50%;
    margin: -2.1rem auto;
    padding: 5px;
    border: 2px solid red;
    border-radius: 1rem;
    color: black;
  }
  .portfolioLink .content a {
    text-decoration: none;
  }

  .portfolioLink .content a img {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .portfolioLink .card {
    width: 80%;
    margin-bottom: 10%;
  }
}
