.portfolio .portfolioLink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio {
  height: 100vh;
}

.portfolio h2 {
  text-align: center;
  color: var(--pinkColor);
  font-size: 3rem;
  text-decoration: underline;
  margin: 3% 0;
}

.portfolioLink .card {
  background-size: 100% 100%;
  background-position: center;
  border: 3px solid red;
  width: 40%;
  margin-bottom: 5%;
  height: 200px;
}

.portfolioLink .content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  /* opacity: 0; */
  visibility: hidden;
  background-color: rgb(225, 220, 220, 0);

  padding-top: 5%;
}

.portfolioLink .contentElement img {
  max-width: 40%;
}

.portfolioLink .card:hover .content {
  /* opacity: 0.8; */
  visibility: visible;
  background-color: rgb(225, 220, 220, 0.8);
  border: 4px solid black;
}

.portfolioLink .card:hover .contentElement {
  opacity: 1;
  cursor: default;
  text-decoration: none;
}
.portfolioLink .card:hover .contentElement h3 {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.portfolioLink .card .contentElement img:hover,
.portfolioLink .card .contentElement h3:hover {
  cursor: pointer;
}

.portfolioLink .card .contentElement img:hover {
  opacity: 0.75;
}

.portfolioLink .card .contentElement h3:hover {
  color: red;
}
.portfolioLink .contentElement a img {
  width: 40%;
}

.contentElement {
  flex-basis: 50%;
}

.footer a {
  display: flex;
  justify-content: center;
}
